@import "variables"

div.container-fluid
    margin-left: 50px
    margin-right: 50px

td
    &.time
        min-width: 200px

    &.ip
        min-width: 100px

    &.message
        max-width: 400px

    &.level
        min-width: 160px

tr.no-log-items
    background-color: #9e0000 !important
    color: white
    text-align: center
    font-weight: bolder 

.modal-lg 
    @media (min-width: 992px)
        width: 90%

.hover-item
    color: black
    cursor: pointer
    transition: all 0.3s ease-in-out

    &:hover
        color: lighten( black, 50% )

.loading 
    width: 100%
    margin-top: 50px
    text-align: center

.error
    margin-top: 100px
    font-size: 120%

    .error-message
        margin-left: 15px 

#logs-table
    table.colored tr
        &.tr-error > td
            background-color: #ff8c8c

        &.tr-info > td
            background-color: #c2d5f4

        &.tr-warning > td
            background-color: #f0edaa

        &.tr-trace > td
            background-color: #bdeeed
            